#banner {
    height: 550px;
    width: 100%;
}

:root {
    --azul: #6EB3D0;
    --verde: #B6D7A8;
    --rosa: #F7B6D2;
    --laranja: #F4A623;
    --preto: #000000;
    --branco: #FFFFFF;
    --cinza: rgb(240, 240, 240);
    --cinza-escuro: rgb(165, 164, 164);
}

header, footer{
    background-color: var(--azul);
}
.banner-img {
  height: 400px;
}
.card img {
  height: 250px;
}
#text-dog-section{
color: var(--azul);
}

#logo{
  max-height: 50px;
}

