 body {
     background-color: var(--branco);
 }

 h2 {
     color: var(--azul);
     text-align: center;
     margin-top: 30px;
     margin-bottom: 40px;
 }

 .card {
     border: none;
     box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
     height: 100%;
 }

 .price {
     color: var(--verde);
 }

 .btn-comprar {
     background-color: var(--rosa);
     border: none;
     color: var(--branco);
     font-weight: 600;
     padding: 8px 20px;
     border-radius: 4px;
 }

 .btn-comprar:hover {
     background-color: var(--rosa);
 }

 footer {
     background-color: var(--azul);
     color: var(--branco);
     text-align: center;
     padding: 10px 0;
     margin-top: 40px;
 }

 .tema-bar {
     background-color: var(--azul);
     border-bottom: 3px solid var(--azul);
     color: var(--branco);
     font-size: 16px;
 }

 .switch {
     position: relative;
     display: inline-block;
     width: 45px;
     height: 22px;
 }

 .switch input {
     opacity: 0;
     width: 0;
     height: 0;
 }

 .slider {
     position: absolute;
     cursor: pointer;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: var(--cinza);
     transition: .4s;
     border-radius: 34px;
 }

 .slider:before {
     position: absolute;
     content: "";
     height: 16px;
     width: 16px;
     left: 3px;
     bottom: 3px;
     background-color: var(--branco);
     transition: 0.4s;
     border-radius: 50%;
 }

 input:checked+.slider {
     background-color: var(--cinza-escuro);
 }

 input:checked+.slider:before {
     transform: translateX(18px);
 }

 body {
     background-color: var(--branco);
     color: var(--preto);
     transition: background-color 0.3s, color 0.3s;
 }

 h2 {
     color: var(--azul);
     font-weight: 700;
     text-align: center;
     margin-top: 30px;
     margin-bottom: 40px;
 }

 .card {
     border: none;
     box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
     height: 100%;
     background-color: var(--branco);
     transition: background-color 0.3s, color 0.3s;
 }


 .price {
     color: var(--verde);
     font-weight: 600;
     font-size: 17px;
 }

 .btn-comprar {
     background-color: var(--rosa);
     border: none;
     color: var(--branco);
     font-weight: 600;
     padding: 8px 20px;
     border-radius: 4px;
 }

 .btn-comprar:hover {
     background-color: var(--rosa);
 }

 footer {
     background-color: var(--azul);
     color: var(--branco);
     text-align: center;
     padding: 10px 0;
     margin-top: 40px;
     transition: background-color 0.3s, color 0.3s;
 }

 #theme-toggle {
     position: fixed;
     top: 15px;
     right: 15px;
     background-color: var(--azul);
     color: var(--branco);
     border: none;
     border-radius: 50%;
     width: 45px;
     height: 45px;
     display: flex;
     align-items: center;
     justify-content: center;
     cursor: pointer;
     transition: background-color 0.3s;
 }

 #theme-toggle:hover {
     background-color: var(--azul);
 }

 body.dark-mode {
     background-color: var(--preto);
     color: var(--branco);
 }

 .dark-mode .card {
     background-color: var(--preto);
     color: var(--branco);
 }

 .dark-mode footer {
     background-color: var(--azul);
 }

 .dark-mode h2 {
     color: var(--azul);
 }

 .dark-mode .btn-comprar {
     background-color: var(--rosa);
 }

 .dark-mode .btn-comprar:hover {
     background-color: var(--rosa);
 }